{% extends "Food/base.html" %}
{% block title %}
  Burger
{% endblock title %}

{% block content %}
    
   <div class="container">
     
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <h3 style="text-align: center;font-size:xx-large; padding-top: 40px;padding-bottom: 30px;font-weight: bold">Our Burger</h3>
          <hr>
          <div class="row">
            {% for br in burger %}
            <div class="card" style="width: 15rem; height: 400px; background-color: beige; margin-bottom: 30px;margin-right: 5px;">
              <img class="card-img-top" src={{br.bImage.url}} alt="Card image cap" style="height: 50%;">
              <div class="card-body">
                <h5 class="card-title" id="bur{{br.name}}">{{br.name}}</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <div class="form-check-inline">
                  <label class="form-check-label"></label>
                  <input type="radio" class="form-check-input" name="br{{br.id}}" id="price" value=" {{br.priceM}}" checked>
                  {{br.priceM}}$
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label"></label>
                  <input type="radio" class="form-check-input" name="br{{br.id}}" id="price" value=" {{br.priceL}}">
                  {{br.priceL}}$
                </div>
                <div style="padding-top: 5px; padding-bottom: 5px;">
                  <button class="btn btn-secondary " style="width:100%;">Add to cart</button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4" style="border: 1px solid black; margin-top: 140px; height: 400px; width:15rem; padding-left: 10px;background-color: bisque;">

        </div>
      </div>
    </div>
   </div>
     
{% endblock content %}